{% load static %}
{% load my_tags %}

<!--Navbar starts here-->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary mt-3 mb-5">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="{% url 'home' %}">
      <img
        src="{% static 'images/logo.png' %}"
        height="50"
        alt="EduHub"
        loading="lazy"
        style="margin-top: -1px; border-radius: 10px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Asosiy Sahifa</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#courses">Kurslar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#students">Talabalar</a>
        </li>

        {% if perms.education.add_course %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_course' %}">Kurs qo'shish</a>
        </li>
        {% endif %}

        {% if perms.education.add_student %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_student' %}">Talaba qo'shish</a>
        </li>
        {% endif %}

        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'send_message' %}">Email</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>
      <!-- Left links -->

      <!--dropdown button-->
     <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-mdb-dropdown-init
          data-mdb-ripple-init
          aria-expanded="false"
        >
          Courses
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% all_courses as courses %}
          {% for course in courses %}
          <li><a class="dropdown-item" href="{% url 'students_by_course' course.id %}">{{ course.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <!--dropdown button-->
      &nbsp; &nbsp;
      {{ request.user.username }}

        {% if not request.user.is_authenticated %}

      <div class="d-flex align-items-center">
        <a href="{% url 'user_login' %}" data-mdb-ripple-init class="btn btn-link px-3 me-2">
          Login
        </a>
        <a  href="{% url 'user_register' %}" data-mdb-ripple-init  class="btn btn-primary me-3">
          Sign up
        </a>
          {% else %}
          &nbsp; &nbsp;
        <!-- Avatar -->
        <div class="dropdown">
          <a
            data-mdb-dropdown-init
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="40"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="{% url 'home' %}">My profile</a>
            </li>
            {% if request.user.is_superuser or request.user.is_staff %}
            <li>
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a>
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
            </li>
          </ul>
        </div>
          {% endif %}
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!--Navbar ends here-->